<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listum.user %>
</p>

<p>
  <strong>Privado:</strong>
  <%= @listum.privado %>
</p>

<%= link_to 'Edit', edit_listum_path(@listum) %> |
<%= link_to 'Back', lista_path %>
